*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.menu{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    background-color: #FFF;
    border-right: none;
    border-left: none;
}
i{
    float: left;
    margin-left: 10px;
    font-size: xx-large;
    
}
.menu i:first-child{
    margin-left: 0;
}
.menu i:nth-child(2){
    margin-left: 10px;
}
.menu i:last-child{
    float: right;
}

body .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    border: 1px solid black;
    border-top: none;
    
}
.container .boxthings{
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.boxmonths{
    border-right: 2px solid black;
}
.boxman{
   
}
.boxdays{
    border-right: 2px solid black;
}
.dark{
    background-color: black;
    color: #FFF;
}
.container .item{
   
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: lighter ;
   
    
}
.gold{
    text-shadow: 1px 0 gold,0 1px gold ,-1px 0 gold,0 1px gold;
   
}
.bold{
    font-weight: 900 !important;
}
.boxthings .one{
    color: blue;
}
.boxthings .sp{
    background-color: #ED8A0A;
}
.boxdays .one{
    color: blue;
}
.boxdays .sp{
    background-color: greenyellow;
}
.boxman .one{
   color: blue;
}
.boxman .sp{
    background-color: #45EBA5;
}

.boxmonths .one{
    color: blue;
}
.boxmonths .sp{
    background-color: #F6D912;
}

@media only screen and (width:300px) {
    /* For mobile phones: */
    .container .item{
        font-size: 20px;
        
    }
   
}
@media only screen and (width:350px) {
    /* For mobile phones: */
    .container .item{
        font-size: 22px;
        
    }
   
}

@media only screen and (width:400px) {
    /* For mobile phones: */
    .container .item{
        font-size: 40px;
        
    }
   
}

